body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('sfondo_ai.png');
    background-size: 50%; /* Larghezza del 50% e altezza del 100% rispetto all'elemento di sfondo */
    background-position: center;
}

header {
    background-color: #6495ed;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 20px;
    background-image: none; /* Rimuovi l'immagine di sfondo dalla sezione */
}

footer {
    background-color: #6495ed; /* Colore cornflowerblue */
    color: #fff;
    text-align: left;
    padding: 20px;
    height: 40px; /* Imposta un'altezza più piccola per il footer */
}
